@import './fonts.css';

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    outline: none;
    outline: none \9;
    /* IE6-9 */

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

body{
    font-family: Proxima-Regular;
}

p{
    margin: 0 0 20px;
}

.short-description {
    height: 60px;
    margin-bottom: 8px;
    overflow: hidden;
}

.short-description p{
    margin: 0 0 0;
}

h1{
    font-size: 30px;
}

h1.sub-title,
.page-template-template-parceiro-php #content .content  h3 {
    margin-top: 40px;
}
h1.sub-title.first{
    margin-top: 0;
}

h2{
    font-size: 20px;
    border-bottom: 1px dashed #bbbbbb;
}

.content h2:first-child{
    margin-top: 0;
}

.page-template-template-projeto-php .content-area h2{
    cursor: pointer;
}

.page-template-template-parceiro-php .content-area h2{
    font-size: 14px;
    line-height: 20px;
    margin: 23px 0 10px;
    padding-bottom: 2px;
}

h3{
    font-size: 18px;
    border-bottom: 1px dashed #BBBBBB;
}

h4{
    font-size: 16px;
}

h5{
    font-size: 14px;
}

h6{
    font-size: 13px;
}

h2, h3, h4, h5, h6 {
    color: #747474;
    font-family: Proxima-Regular;
    letter-spacing: 1px;
    text-transform: uppercase;
}

a.more-link {
    background: url("../images/seta_flit.png") no-repeat scroll right -3px rgba(0, 0, 0, 0);
    color: #005141;
    display: block;
    font-family: Proxima-Regular;
    font-size: 16px;
    line-height: 27px;
    margin: 15px 0;
    padding-right: 26px;
    text-align: right;
    outline: none;
}

.flit{
    background: url("../images/seta_flit.png") no-repeat scroll right -3px rgba(0, 0, 0, 0);
}

h1.flit{
    background: url("../images/seta_flit.png") no-repeat scroll right 9px rgba(0, 0, 0, 0);
}

h2.flit{
    background: url("../images/seta_flit.png") no-repeat scroll right 5px rgba(0, 0, 0, 0);
}

h1.flit.active, h2.flit.active{
    background-position: right -53px;
}

a.more-link.active, .flit.active{
    background-position: right -62px;
}

#header .header-top{
    background: url("../images/header-top.jpg") repeat-x scroll 0 0 transparent;
}

#header .header-top .header-top-links{
    text-align: right;
}

#header .header-middle{
    background: #e4e4e4;
}

#header .header-middle > .container{
    background: url("../images/header-middle-bg.jpg") repeat-y scroll 0 0 transparent;
}

#header .header-middle .top-links{
    text-transform: uppercase;
    font-size: 10px;
    font-family: Proxima-Bold;
    margin-top: 10px;
}

#header .header-middle .top-links li {
    margin-left: 30px;
    padding-left: 20px;
}

#header .header-middle .top-links li:first-child {
    margin-left: 0;
}

#header .header-middle .top-links .incubadora{
    background: url("../images/logo-incubadora.png") no-repeat scroll 0 2px transparent;
}

#header .header-middle .top-links .ufrj{
    background: url("../images/logo-ufrj.png") no-repeat scroll 0 2px transparent;
}

#header .header-middle .top-links .english{
    background: url("../images/english-version.png") no-repeat scroll 0 2px transparent;
}

#header .header-middle .top-links a{
    color: #797979;
}

#header .header-middle .search-bar{
    font-family: Proxima-Bold;
    font-size: 13px;
    text-transform: uppercase;
}

#header .header-middle .search-bar label{
    background: url("../images/lupa.png") no-repeat scroll 5px 4px transparent;
    line-height: 24px;
    padding-left: 30px;
    border-right: 0;
    color: #919191;
}

#header .header-middle .search-bar input{
    border-right: 0;
    border-left: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#header .header-middle .search-bar input:focus{
    border-color: #CCCCCC;
}

#header .header-middle .search-bar button{
    border-left: 0;
    border-radius: 0;
    background: none repeat scroll 0 0 #FFF;
    color: #014c46;
    font-family: Proxima-Bold;
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 2px;
    padding-top: 6px;
}

#header .header-middle .bottom-links{
    text-transform: uppercase;
    font-family: Proxima-Bold;
}

#header .header-middle .bottom-links a{
    color: #797979;
}

#header .header-middle .bottom-links li{
    margin-left: 17px;
}

#header .header-middle .bottom-links li:first-child{
    margin-left: 0px;
}

#header .header-navbar{
    background: #005141;
    height: 39px;
    color: #FFF;
    font-family: Proxima-Bold;
    font-size: 16px;
}

#content{
    background: url("../images/content-bg.jpg") repeat-x scroll center top #FFFFFF; 
    padding: 10px 0;
}

#content .content-header h1{
    background: url("../images/title-arrow.jpg") no-repeat scroll left 1px transparent;
    border-bottom: 1px solid #B9B9B9;
    color: #005645;
    font-family: Proxima-Bold;
    font-size: 30px;
    padding-bottom: 10px;
    padding-left: 32px;
    text-transform: uppercase;
}

#content .content-bread .breadcrumb{
    background-color: transparent;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 2px 0 8px;
    text-transform: uppercase;
    font-family: Proxima-Bold;
    font-size: 14px;
}

#content .content-bread .breadcrumb a{
    background-color: transparent;
    list-style: none outside none;
    margin: 0 0 20px;
    padding: 2px 0 8px;
    text-transform: uppercase;
    color: #767676;
}

#content .content {
    font-size: 13px;
    color: #555555;
    line-height: 20px;
    margin-top: 10px;
}

#content .content .pre-content{
    margin-bottom: 15px;
}

.pos-more > *:first-child{
    margin: 0;
}

#content .content-pos{
    border-top: 1px solid #DDDDDD;
    margin-top: 25px;
    padding-top: 24px;
}

#content .content-pos form label{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    color: #686868;
    font-family: Helvetica-Bold;
    font-size: 13px;
    letter-spacing: 1px;
    margin-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-transform: uppercase;
}

#content .content-pos form input{
    border-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#content .content-pos form button{
    border-left: 0;
    border-radius: 0;
    background: none repeat scroll 0 0 transparent;
    color: #f37423;
    font-family: Proxima-Bold;
    font-size: 12px;
    text-transform: uppercase;
}

#content .wrapper{
    padding-right: 25px;
}

#content .gform_wrapper select{
    font-size: 13px;
    height: auto;
    padding: 9px;
}

#content .gform_wrapper select.medium{
    width: 337px;
}

#content .gform_wrapper select option{
    padding: 0;
}

.projeto-content .span10, .oportunidade-block .span10{
    width: 600px;
}

.oportunidade-block .span9{
    width: 540px;
}

.vaga-item .span3 a.thumbnail > img{
    width: 148px;
    max-width: 148px;
    max-height: 103px;
}

.vaga-item .span3 a{
    background-color: #FFFFFF;
    display: table-cell;
    height: 103px;
    vertical-align: middle;
}

.oportunidade-block{
    margin-top: 25px;
}

.vaga-item{
    margin-bottom: 25px;
    border-bottom: 3px solid #BBBBBB;
    padding-bottom: 25px;
}

.vaga-content h2{
    font-size: 15px;
}
.vaga-content h3{
    font-size: 13px;
}

.vaga-block h3{
    margin-top: 0;
}

#sidebar h2:first-child{
    margin-top: 0;
}

#sidebar .sidebar-title{
    color: #086459;
    display: block;
    font-family: Proxima-Regular;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#sidebar .sidebar{
    margin-top: 30px;
}

#sidebar .sidebar:first-child{
    margin-top: 0;
}

#sidebar .sidebar > .widget{
    padding-left: 20px;
}

#sidebar .sidebar > .more{
    border-top: 1px solid #bbbbbb;
    margin-top: 25px;
    padding-top: 5px;
}

#sidebar .sidebar > .more a{
    text-transform: uppercase;
    color: #f37423;
}

#sidebar ul, .content-area ul{
    margin-left: 0px;
    list-style: none;
}

#sidebar ul li, .content-area ul li{
    background: url("../images/bullet.png") no-repeat scroll 0 3px transparent;
    margin-left: 0;
    padding-left: 19px;
    margin-top: 25px;
}

.content-area ul.social_background li, .content-area .gform_body ul li    {
    background: none;
    padding-left: 0;
    margin-top: 0;
}

#sidebar ul li:first-child{
    margin-top: 0;
}

#sidebar a{
    color: #555555;
}


#footer .footer-top{
    background: #eeeeee;
    height: 33px;
}

#footer .footer-top p{
    color: #313131;
    font-size: 13px;
    line-height: 38px;
    margin-bottom: 0;
}

#footer .footer-bottom{
    background: #e2e2e2;
    padding: 10px 0;
}

#footer .footer-bottom ul{
    list-style: none;
}

#footer .footer-bottom ul li:first-child{
    color: #004e44;
    padding-bottom: 28px;
    font-size: 12px;
}

#footer .footer-bottom ul li{
    padding-bottom: 8px;
}

#footer .footer-bottom ul a{
    color: #808080;
    font-size: 12px;
    padding-bottom: 8px;
}


/**
 * 4.2 Navigation
 * ----------------------------------------------------------------------------
 */

ul.nav-menu,
div.nav-menu > ul {
    margin: 0;
    font-family: Proxima-Bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-menu li {
    display: inline-block;
    position: relative;
}

.nav-menu li a {
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    padding: 12px 20px;
    text-decoration: none;
}

.nav-menu > li a {
    padding: 7px 20px 7px;
}

.nav-menu > li > a {
    padding: 12px 40px 7px;
}

.nav-menu li:hover > a,
.nav-menu li a:hover {
    background-color: #FFF;
    color: #005645;
}

.nav-menu .sub-menu,
.nav-menu .children {
    background-color: #FFF;
    border: 2px solid #f7f5e7;
    border-top: 0;
    display: none;
    padding: 0;
    position: absolute;
    left: -2px;
    z-index: 99999;
    margin-left: 0;
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
    border-left: 0;
    left: 100%;
    top: 0;
}

ul.nav-menu ul a,
.nav-menu ul ul a {
    color: #555;
    margin: 0;
    width: 200px;
    text-transform: none;
    font-family: Arial;
    border-left: 4px solid transparent;
    font-size: 12px;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover {
    background-color: #f37323;
    color: #FFF;
    border-left: 4px solid #db572f;
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul {
    display: block;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
/*    color: #bc360a;
    font-style: italic;*/
}

.menu-toggle {
    display: none;
}


/* Images */
.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.alignleft {
    margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
    margin: 5px 10px 5px 0;
}

img.alignright {
    margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
    margin: 5px 0 5px 10px;
}

img.aligncenter {
    margin: 5px auto;
}

img.alignnone {
    margin: 5px 0;
}

.wp-caption .wp-caption-text,
.entry-caption,
.gallery-caption {
    color: #220e10;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}

img.wp-smiley,
.rsswidget img {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol  {
    list-style-position: inside;
}

/***
*   TimeLine
*/


.t_line_month{
    visibility: hidden;
}

.timeline a.t_line_node, #content .timeline a.t_line_node {
    font-size: 19px;
    padding: 0 0 30px 10px;
    top: -25px;
}

.t_node_desc{
    margin-top: 40px;
    padding-top: 8px !important;
}

#content .timeline .timeline_items .item > img{
    border-bottom: 5px solid #01362C;
}
#content .timeline h2{
    border: none;
    margin-bottom: 12px;
    margin-top: 20px;
}